.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90vw, 900px);
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
}

.Search {
    margin: 0 0 18px 0;
    font-size: 60px;
    line-height: 1.1;
}

.controls {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.Text {
    width: 200px;
    height: 100px;
    background-image: url('./assets/search.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.Text:hover {
    width: 300px;
    height: 150px;
}

.File {
    width: 200px;
    height: 100px;
    background-image: url('./assets/folder.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

.File:hover {
    width: 300px;
    height: 150px;
}

.Exit {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-image: url('./assets/wrong.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border-radius: 50%;
    border-width: 2px;
}